[submodule "mht-zigbee-gateway-js"]
	path = mht-zigbee-gateway-js
	url = git@github.com:vinhlq/mht-zigbee-gateway-js.git
[submodule "mht-zigbee-gateway-python"]
	path = mht-zigbee-gateway-python
	url = git@github.com:vinhlq/mht-zigbee-gateway-python.git
[submodule "mht-zigbee-client-js"]
	path = mht-zigbee-client-js
	url = git@github.com:vinhlq/mht-zigbee-client-js.git
[submodule "mht-zigbee-docs"]
	path = mht-zigbee-docs
	url = git@github.com:vinhlq/mht-zigbee-docs.git
[submodule "mht-zigbee-client-examples-js"]
	path = mht-zigbee-client-examples-js
	url = git@github.com:vinhlq/mht-zigbee-client-examples-js.git
[submodule "mht-zigbee-examples-silabs-react"]
	path = mht-zigbee-examples-silabs-react
	url = git@github.com:vinhlq/mht-zigbee-examples-silabs-react.git
